[submodule "bootstrapc/third-party/googletest"]
	path = bootstrapc/third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "runtime/runtime/third-party/llvm-statepoint-utils"]
	path = runtime/runtime/third-party/llvm-statepoint-utils
	url = git@github.com:kavon/llvm-statepoint-utils.git
[submodule "compiler/third-party/googletest"]
	path = compiler/third-party/googletest
	url = git@github.com:google/googletest.git
